@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('ep_naturalwhite.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  background: image_url('dark-honeycomb.png');
  box-shadow: 0px 3px 2px grey;
}

.navbar-inverse .navbar-brand {
  color: #FFC4BB;
  font-family: 'quicksandregular', cursive;
  font-size: 26px;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.will_paginate {
  text-align: center;
  padding: 20px;
  cursor: default;
  font-family: 'quicksandregular', cursive;
  display: flex;
  justify-content: center;
}

.will_paginate a, .will_paginate span, .will_paginate em {
    padding: 0.2em 0.5em; 
}

.will_paginate .disabled {
    color: #aaaaaa; 
}

.will_paginate .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; 
}

.will_paginate a {
    border: 1px solid #dddddd;
    color: #7690BE;
    text-decoration: none; 
}

.will_paginate a:hover, .will_paginate a:focus {
      border-color: #F7B1BB;
      background: #F7B1BB;
      color: white; 
}

.will_paginate .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; 
}

.will_paginate .previous_page, .will_paginate .next_page {
    border-width: 2px; 
}

.will_paginate .previous_page {
    margin-right: 1em; 
}

.will_paginate .next_page {
    margin-left: 1em; 
}